<header>
    <nav class="navbar">
      <div class="brand">
        <h2>Usuario</h2>
      </div>
   
      <ul class="menu">
          <li>
            <a href="#"><img src="src\assets\Images\facebook-icon.png"></a>
          </li>
          <li>
            <a href="#"><img src="./assets/Images/twitter-icon.png"></a>
          </li>
          <li>
            <a href="#"><img src="./assets/Images/Instagram-icon.png"></a>
          </li>
          <li>
            <a href="#"><img src="./assets/Images/right-to-bracket-solid.svg"></a>
          </li>           
      </ul>
    </nav>
  </header>
