<div class="contenedor">
    <div>
      <img class="bg-img" src="./assets/Images/fondo_no_pepe.jpg">
    </div>
    <div class="id-img">
      <img src="./assets/Images/pepe.png">
    </div>
    <div class="datos">
      <ul class="list-group">
        <div class="row">
          <div class="col-sm-5">
            <li class="list-group-item">miPortfolio.name</li>
            <li class="list-group-item">miPortfolio.trabajo</li>
            <li class="list-group-item">miPortfolio.ciudad</li> 
          </div>

          <div class="col-sm-7">
            <div id="logo-img">
              <img  src="./assets/Images/pepega.jpg">
            </div>

          </div>
        </div>
      </ul>
        
               
        
      
    </div>
  </div>
